# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=

# PostgreSQL
DATABASE_URL=postgresql://postgres.mqsjzlrxeqeuecablivc:Kamp%23org_019@aws-0-eu-central-1.pooler.supabase.com:6543/postgres# Paystack
PAYSTACK_SECRET_KEY=
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=

# Email (Resend)
RESEND_API_KEY=
EMAIL_FROM=noreply@wearekamp.org
ADMIN_EMAIL=

# Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
